@media only screen and (min-width: 640px) {
    body {
        margin: 5rem;
    }

    nav ul {
        display: flex;
    }

    nav li {
        flex-grow: 4;
    }

    .desktop-img,
    .mobile-img {
        margin: 0 auto;
    }
    
    .mobile-img {
        max-width: 330px;
    }

    .desktop-img {
        max-width: 500px;
    }
}