* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lato", sans-serif;
}

:root {
    --primary-font: "Lato", sans-serif;
    --primary-color: #583C23;
    --secondary-color: #fff;
    --accent-color-1: #233858;
    --accent-color-2: #DDAD81;
    --accent-color-3: #f6f6f6;

}

/* This is for header */
header {
    position: relative;
    width: 100%;
    height: 120px;
    padding: 60px;
    text-align: center;
    background: 
        linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), 
        url('../images/negros-capitol-header.webp');
    background-size: cover;
    background-position: center;
    color: black;
}

header span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(35, 56, 88, .8);
    color: #fff;
    font-size: 1rem;
    font-weight: bold;
    padding: 10px 30px;
}
/* --------------- END --------------- */


/* This is for navigation */
#menu {
	font-size: 1.5rem;
	border: 0;
	background-color: #583C23;
	color: #DDAD81;
 	position: relative;
}

#menu::before {
	content: "☰";
}

#menu.open::before {
	content: "x";
}

nav {
    display: flex;
	flex-direction: column;
    list-style: none;
    background-color: #583C23;
    text-align: center;
}

nav a {
    padding: 7px 0;
    display: none;
    color: #fff;
    flex-grow: 4;
    text-align: center;
	text-decoration: none;
}

nav a:hover {
    background-color: #DDAD81;
    color: #fff;
}

nav .active,
nav .active:hover {
    background-color: #DDAD81;
    color: #000;
    font-weight: bold;
}

nav .blank:hover {
    background-color: #583C23;
}

.open a {
	display: block;
}
/* --------------- END --------------- */


/* This is for main sections */

main {
    position: relative;
    display: grid;
    align-items: center;
    min-height: 75vh;
    max-width: 90vw;
    margin: 0 auto;
}

main h1 {
    text-align: center;
}

body.modal-open {
    overflow: hidden;
}

#modal-container {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
    animation: fadeIn 0.5s;
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

#banner {
    background-color: #fefefe;
    margin: 20% auto;
    padding: 1rem;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    animation: fadeInContent 0.5s;
}

#banner p{
    margin: 5rem 1rem;
    font-size: 1.5rem;
}

@keyframes fadeInContent {
    from {transform: translateY(-10%); opacity: 0;}
    to {transform: translateY(0); opacity: 1;}
}

#close-btn {
    color: #585858;
    float: right;
    font-size: 2rem;
    font-weight: bold;
}

#close-btn:hover,
#close-btn:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
    font-size: 2.2rem;
}


#hero-container {
    height: 500px;
    background: url("../images/hero-image.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    margin: 1rem 0.5rem;
}

#hero-cta {
    text-align: center;
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8));
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    padding: 0 1rem;
    box-shadow: 10px 10px 5px #000;
}

#hero-cta h2{
    font-size: 1.1rem;
    margin: 1rem;
}

#hero-cta button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 10px 25px;
    margin: 1rem;
    color: black;
    background-color: #ddd;
    text-align: center;
    cursor: pointer;
}
  
#hero-cta button:hover {
    background-color: #555;
    color: white;
}

#cards-container,
#discover-container {
    display: grid;
    margin: 1rem 0.5rem;
    gap: 1rem;
}

#weather,
#events {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.weather-cards {
    padding: 0.5rem;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    flex: 1 1 100px;
    font-size: 0.8rem;
    max-width: 250px;
}

.weather-cards img {
    display: block;
    margin: 0 auto 8px;
}

.card {
    color: #000;
    background-color: #DDAD81;
    border: 1px solid black;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.29);
}

.card h2 {
    padding: 5px;
    background-color: #fff;
    border-bottom: 1px solid black;
    font-size: 17px;
    text-align: center;
}


#spotlights-container {
    text-align: center;
    margin: 1rem 0.5rem;
}

#spotlights-container h2 {
    padding-bottom: 1rem;
}


#spotlights {
    display: grid;
    gap: 1rem;
}

.spotlight {
    color: #000;
    border: 1px solid black;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.29);
}

.spotlight img{
    margin-top: 1rem;
}

.card p,
.spotlight p {
    padding: 1rem;
    list-style: none;
    text-align: center;
    font-size: 14px;
}


/* --------------- DISCOVER PAGE CONTAINER */

.sidebar {
    position: relative;
}
.sidebar-title {
    text-align: center;
    margin: 25px;
}

.sidebar ul > li,
#events ul > li {
    list-style: none;
    padding-bottom: 1rem;
}

#discover-container {
    margin: 1rem 2rem;

}

#discover-container .main-content img {
    width: 100%;
    height: auto;
}

.main-content .card {
    margin-bottom: 1rem;
}

.main-content span {
    display: block;
    text-align: center;
    margin-bottom: 20px;
}

#discover-container article h4 {
    font-size: 1.5rem;
}

#discover-container article {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 30px;
    background-color: #f6f6f6;
    padding: 1rem;
    border-radius: 25px;
}

/* --------------- JOIN FORM CONTAINER */

#form-container {
    display: grid;
}

#form-container > #form {
    grid-column: 1/3;
    grid-row: 2/3;
}

#form-container > #membership-table {
    grid-column: 1/3;
    grid-row: 1/2;
}

#form,
#membership-table {
    margin: 1rem auto;
    width: 100%;
    padding: 1rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: var(--accent-color-3);
}

#form h2,
th {
    background-color: var(--accent-color-3);
}

#form label {
    display: block;
    font-family: var(--primary-font);
    margin-bottom: 1.5rem;
}

#match-message {
    font-family: var(--primary-font);
    color: red;
    margin-top: -1.5rem;
}

#form input[type="text"],
#form input[type="email"],
#form input[type="tel"],
#form textarea {
    display: block;
    width: 100%;
    padding: 0.6rem 0.5rem;
    font-family: var(--primary-font);
    border: 1px solid #ccc;
    border-radius: 4px;
}

#form input:required {
    border-right: 8px solid red;
}

#button-container {
    border: none;
    padding: 0;
}

#form button {
    border: none;
    background-image: linear-gradient(var(--accent-color-1), #00476d);
    color: var(--secondary-color);
    border-radius: 6px;
    padding: 0.8rem;
    width: 100%;
    box-shadow: 1px 1px 4px #999;
    cursor: pointer;
    font-family: var(--primary-font);
    font-size: 1.5rem;
}

#form button:hover {
    background-image: linear-gradient(var(--accent-color-1), var(--accent-color-3));
    color: #000;
}

#membership-level {
    margin-bottom: 1rem;
}

#membership-level h4{
    margin-bottom: 0.8rem;
}

#membership-level label{
    margin-bottom: 0.3rem;
}

fieldset {
    margin: 2rem 1rem;
    border-radius: 6px;
}

legend {
    font-weight: bolder;
    margin-bottom: 1rem;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th {
    padding: 0.1rem !important;
    font-size: 1rem;
    text-align: center;
    border-bottom: 1px solid black;
}

td:nth-child(1) {
    width: 40%;
    border-left: 4px solid var(--accent-color-2);
}

td:not(:first-child){
    text-align: center;
    width: 15%;
}

tr:nth-child(-n+5) td:nth-child(2) {
    background-color: var(--accent-color-1);
    color: var(--accent-color-3);
    border-bottom: 1px solid var(--accent-color-1)
}

tr:nth-child(-n+9) td:nth-child(3) {
    background-color: #D18437;
    color: #000;
}

tr:nth-child(-n+15) td:nth-child(4) {
    background-color: #C0C0C0;
    color: #000;
}

td:nth-child(5) {
    background-color: #FFD700;
    color: #000;
}


/* --------------- THANK YOU FORM CONTAINER */
.thank-you {
    position: relative;
    top: -30%;
    text-align: center;
}

.thank-you h1{
    margin: 0;
}

.thank-you p {
    padding: 1rem 0;
}

/* --------------- DIRECTORY CONTAINER */

#header-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    text-align: center;
    margin: 1rem 0 !important;
    border-bottom: 1px solid #000;
}

#header-container h1 {
    margin: 0 0 0 1rem;
    font-size: 1.7rem;
}

#toggle {
    display: flex;
    text-align: center;
    font-size: 1rem;
    padding: 0.2rem;
    cursor: pointer;
    margin: 0 1rem 0 0;
}

#toggle img {
    width: 1.7rem;
    height: 1.7rem;
}

#toggle-text {
    display: none;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1rem;
    background-color: #fff;
    padding: 1rem;
}

.grid section {
    color: #000;
    border: 1px solid black;
    border-radius: 5px;
    overflow: hidden;
    margin: 10px 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.29);
    text-align: center;
    padding: 1rem;
}

.grid .section-header {
    font-size: 1.2rem;
    font-weight: bolder;
    margin-bottom: 1rem !important;
}

.grid section .membership{
    font-weight: bold;
}

.grid section img, 
.grid section p,
.grid section .membership{
    margin-bottom: 0.5rem;
}

.list {
    display: flex;
    flex-direction: column;
    min-height: 70vh;
}

.list section {
    display: grid;
    grid-template-columns: 1fr;
	margin-bottom: 0.5rem;
	padding: 0.5rem;
    border: 2px solid var(--primary-color);
}

.list .section-header {
    font-size: 1.2rem;
    font-weight: bolder;
}

.list section img,
.list .description{
	display: none;
}

#member-np {
    background-color: var(--accent-color-1);
    color: var(--accent-color-3);
}

#member-bronze {
    background-color: #D18437;
    color: #000;
}

#member-silver {
    background-color: #C0C0C0;
    color: #000;
}

#member-gold {
    background-color: #FFD700;
    color: #000;
}



/* --------------- END --------------- */


footer {
    background-color: #DDAD81;
    padding: 1rem;
    color: #000;
    text-align: center;
    font-size: .8rem;
}

footer p {
    margin: 10px 0;
}

