:root {
    --primary-font: "Montserrat", sans-serif;
    --primary-color: #153448;
    --secondary-color: #fff;
}

#form {
    margin: 2rem auto;
    width: 100%;
    max-width: 450px;
    padding: 1rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: var(--secondary-color);
}

#form > * {
    margin-bottom: 1.5rem;
}

#form label {
    display: block;
    font-family: var(--primary-font);
}

#match-message {
    font-family: var(--primary-font);
    color: red;
    margin-top: -1.5rem;
}

#form input[type="text"],
#form input[type="password"],
#form input[type="email"] {
    display: block;
    width: 100%;
    padding: 0.6rem 0.5rem;
    font-family: var(--primary-font);
    border: 1px solid #ccc;
    border-radius: 4px;
}

#rating-content {
    margin: 1rem;
    padding: 1rem;
}

#rvalue {
    font-size: 1.5rem;
    color: var(--primary-color);
    font-weight: bolder;
}

#rating {
    width: 100%;
}

#rating-values {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

#form button {
    border: none;
    background-image: linear-gradient(var(--primary-color), #00476d);
    color: var(--secondary-color);
    border-radius: 6px;
    padding: 0.8rem;
    width: 100%;
    box-shadow: 1px 1px 4px #999;
    cursor: pointer;
    font-family: var(--primary-font);
    font-size: 1.5rem;
}

.record {
    position: relative;
    top: -30%;
}

.record h1{
    margin: 0;
}

.record p {
    padding: 1rem 0;
}