@media only screen and (min-width:640px) {

    header span {
        font-size: 3rem;
    }

    #menu {
		display: none;
	}

    nav {
        flex-direction: row;
    }
    
    nav a {
        display: block;
        flex: 1 1 100%;
    }

    main {
        grid-template: auto auto / auto;
        margin: 0 2rem;
    }

    main h1 {
        grid-column: 1/3;
        text-align: start;
        font-size: 2.5vw;
    }

    .card h2 {
        font-size: 20px;
    }

    .card ul,
    .card p {
    font-size: 16px;
    }

    footer p {
        font-size: 15px;
    }
}